@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  background-color: black;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.searchbar {
  background-color: rgb(var(--background-end-rgb));
  color: rgb(var(--foreground-rgb));
  width: 25vw;
  height: 45px;
}

.searchIcon {
  position: relative;
  left: -5%;
  top: 30%;
}

.about {
  max-width: 40%;
}

.about>p {
  font-size: 16px;
  line-height: 28px;
}

.mainAbout {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.termsList {
  padding-left: 1rem;
  list-style-type: disc;
}

.container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "A1 A1 A2"
    "A1 A1 A2"
    "A1 A1 A3"
    "A1 A1 A3";
  max-width: 100%;
  min-height: 90vh;
}

.A1 {
  position: relative;
  grid-area: A1;
  background-color: #7928ca;
}

.A1>a>img {
  width: 700px;
}


.A2 {
  position: relative;
  grid-area: A2;
  background-color: white;
}

.A3 {
  position: relative;
  grid-area: A3;
  background-color: #ff0080;
}

.productName {
  font-size: 24px;
  font-weight: bold;
  padding: 1rem;
}

.productPrice {
  display: inline-block;
  padding: .5rem 1rem 1rem 1rem;
  font-size: 15px;
  font-weight: 600;
}

.mainAll {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.productCard {
  position: relative;
  height: 250px;
  width: 250px;
  background-color: #ffffff0a;
  align-items: end;
}


.productSection {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.cardImg {
  padding-bottom: 10px;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 500px;
  color: black;
  z-index: 999;
}

.cartProductsContainer{
  overflow-y: auto;
  margin-right: 1rem;
  min-height: 60%;
  max-height: 60%;
  margin-bottom: 3rem;
}

.cartDataContainer{
  height: 35%;
  background-color: rgb(245, 245, 245);
}

.cartProductsContainer::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

.cartProductsContainer::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the scrollbar thumb (dragger) */
  border-radius: 30px;
}

/* Remove the arrows on the scrollbar */
.cartProductsContainer::-webkit-scrollbar-button {
  display: none;
}

.cartProductsContainer::-webkit-scrollbar-corner {
  background: transparent;
}

.quantity{
  border-right: .5px solid rgb(250,250,250);
  border-left: .5px solid rgb(250,250,250);
  padding: .5rem 1rem .5rem 1rem;
}
.quantityButtons{
  width: fit-content;
  background: #111;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: white;
}

.quantityButton{
  padding: .5rem 1rem .5rem 1rem;
  border: 1px solid transparent;
}

.cartImgContainer{
  border-radius: 5%;
  height: 4.5rem;
  width: 6rem;
  background-color: rgba(245, 245, 245, 0.8);
}
.cartImg{
  height: 75%;
  width: 75%;
}

.productCardName,
.productCardPrice {
  padding: 5px;
  font-weight: 500;
}

.productCardPrice {
  display: inline-block;
}

.productCard:hover {
    transition: all 0.5s ease;
    transform: translateY(-10px);
}

.productSingleCardContainer{
  margin-top: 5rem;
}

.productSingleCardImg{
  width: 750px;
}

.imgColumn{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.initialImgContainer{
  width: 700px;
  height: 700px;
  border: 1px solid #111;
}

.productImgSelectorContainer{
  border: 1px solid #111;
  height: 150px;
  width: 150px;
}


.infoColumn{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin-left: 1.5rem;
}

.sizeSelectorContainer{
  max-width: 400px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.sizeSelector{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #171616;
  border-radius: 3px;
  background-color: #111;
  min-width: 65px;
  min-height: 45px;
  color: white;
  font-weight: 500;
}
.addToCartBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #171616;
  border-radius: 3px;
  background-color: #111;
  min-width: 65px;
  min-height: 45px;
  color: white;
  font-weight: 500;
}

.footer{
  flex-shrink: 0;
}

.selected {
  background-color: white;
  color: #111;
}

.formInput {
  background-color: rgb(var(--background-end-rgb));
  color: rgb(var(--foreground-rgb));
}

.formContainer{
  width: 50%;
}

.defaultButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #171616;
  border-radius: 3px;
  background-color: #111;
  color: white;
  font-weight: 500;
  padding: .5rem 1rem .5rem 1rem;
}

.divider{
  margin-top: .5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid #969191;
  width: 100%;
}

.cartButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #171616;
  border-radius: 30px;
  background-color: #111;
  color: white;
  font-weight: 500;
  padding: .5rem 1.5rem .5rem 1.5rem;

}