<link rel="stylesheet" href="static/css/styles.css">
<h1>REALTIME</h1>
<hr>
<div id="productContainer">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realTimeProducts.js"></script>