<div>
    <h2>Socket.io</h2>
    <hr></hr>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>
{{!-- <script>
    const socket = io()
    socket.on('productos', (data) => {
        console.log(data)
    })
</script> --}}