<link rel="stylesheet" href="/static/css/styles.css" />

<hr />
<div style="display:flex;justify-content:center;margin-top:3rem;height:100%">
  <div class="loginContainer">
    <p>Sign up</p>
    <form action="/session/register" method="POST">
      <div style="display:flex;flex-direction:column;gap:1rem;margin-top:1rem; width:25vw;">
        <input type="text" name="username" placeholder="Username" required />
        <input type="text" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <input type="text" name="firstName" placeholder="First name" required />
        <input type="text" name="lastName" placeholder="Last name" required />
        <input type="submit" value="Sign up" style="width:120px"/>
      </div>
    </form>
  </div>
</div>